@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
body {background:#ebeff3; font-family: Nanum Gothic, sans-serif; font-size:13px;}

header {background: #fff;}
header .wrap { margin:0 auto; position: relative;}
header .top {position: relative; text-align: center; padding:14px 0;}
header .top h1 {}
header .top .btn_logout {display:inline-block; border:1px solid #ddd; padding:5px 10px; position: absolute; right:10px; top:10px;}
header .top .btn_menu {width:35px; height:35px; display:none; border:1px solid #ddd; position: absolute;top:10px; padding:5px;}
header .top .btn_menu a { font-size:20px}
header nav {border-bottom:0px solid #eee; margin-top:10px; background-color: #66a7c7;  }
header nav>ul {font-size:0; text-align:center;}
header nav>ul>li {display:inline-block; vertical-align: top; padding:0px 12px;  position: relative; }
header nav>ul>li>a {font-size:14px; color:#fff !important; font-weight:bold; padding:5px 20px; display:block; }
header nav>ul>li>a:hover{background-color: #4b82a1;}
header nav>ul>li>a:hover~ul {display:block;  }
header nav>ul>li>ul 
{display:none; border:1px solid #ddd; 
padding:8px 10px; width:180px; 
position: absolute; top:38px; 
left:-30; background-color: #f9f9f9;
text-align: left;
box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
z-index: 1;}

header nav>ul>li>ul:hover {display:block;}
header nav>ul>li>ul>li {padding:5px;}
header nav>ul>li>ul>li>a {font-size:13px;}


@media screen and (max-width:991px){
    header .top .btn_menu {display:inline-block; left:10px;}
    header .top .btn_logout 
	{ overflow: hidden; border: none; color:transparent; 	
	 background: url(../images/login_b.png) 50% 0 no-repeat ; background-size:15px 15px;right:10px; }
    header nav {display:none; width:200px; position: absolute; background: #fff; top:40px; left:5px; border:1px solid #ddd; border-radius:5px;}
    header nav>ul>li {display:block;  text-align:left; padding:0px 10px; color:#4b82a1;}
	
    header nav>ul>li>a {border-bottom:0px solid #ddd; color:#333 !important;}
	header nav>ul>li>a:hover{background-color: #fff ;}
    header nav>ul>li>ul {position: relative; display:none; top:0; width:100%; border:0;padding:0px 5px; box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.2); }
	header nav>ul>li>ul>li>a {font-size:13px; padding:0px 5px;}

    
}
.row {
  content: "";
  display: table;
  clear: both;
  width: 80%;
  margin:auto;
  background:#FFF;
  padding-top:10px;
}

/* Left column */
.leftcolumn {   
  float: left;
  width: 15%;
}

/* Right column */
.rightcolumn {
  float: right;
  width: 85%;
}

/* Add a card effect for articles */
.card {
  border: 1px solid #e1e1e1;  
  border-radius: 3px;  
  padding:10px;
  margin:5px;
}

hr{
border: 0.5px solid #666;}
/* Clear floats after the columns */

@media screen and (max-width:991px){
.row {
  content: "";
  display: table;
  clear: both;
  width: 100%;
  margin:auto;
}

/* Add a card effect for articles */
.card {
  border: 1px solid #e1e1e1;  
  border-radius: 3px;  
  padding:10px;
  margin:5px;
}
    
}
.footer {
  width:100%;
  padding: 10px;
  text-align: center;
  background: #ddd;
 position: absolute;
bottom: 0;
left: 0;
right: 0;

  
}
