@charset "utf-8";

/* ******************** 공용 ******************** */
a:link {color:#666;}
a:visited {color:#666; }
a:hover {color:#0e6bc2;font-weight: bold}
a:active {color:#000;}

body {line-height:2; color:#666;}
.body_shadow {display:none; position:fixed; z-index:10; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,.7);}

/* ******************** 데스크탑 (992~) ******************** */
@media screen and (min-width: 992px), print{
	.mobile {display:none;}
	.pc {display:block;}

}
/* ******************** 태블릿 이하(~991) ******************** */
@media (max-width: 991px) {
	.mobile {display:block;}
	.pc {display:none;}

}
/* ******************** 모바일 (~767) ******************** */
@media screen and (max-width: 767px) {
	
}