@charset "UTF-8";


.searchBox{
	width: 100%;
	background-color: #ebeef3;
	border: 1px solid #e1e1e1;  
	border-radius: 3px;  
	padding:10px;
	margin-bottom: 5px;
}

#weeklyWriteForm{
	margin:1em;
	padding:1em;
	border-top: 5px solid #1467b3;
	background-color: #ebeef3;
}
#weeklyWriteForm textarea{
	text-indent:0px;
	padding: 5px;
}
.weeklyForm button{
	border: 1px solid #565656;
	border-radius: 3px;
	padding: 3px;
}

#button button{
	height: 45px;
	margin-bottom: 5px;
}
#scheduleForm{
	float: left;
	margin-top: 10px;
	margin-left: 20px;
	border: 1px solid;
}
#scheduleForm form{padding: 10px;}
.comboSize{width: 70px;}
.buttonBox {text-align: center;}
.formRow{margin: 3px;}
/* label 라인 정렬 */
.lbWidth{width: 80px;display: inline-block;}
.verticalTop{vertical-align: top;}
.verticalCenter{vertical-align: center;}
.lbWord-break{word-break: keep-all;}
/* maring 10~50, 100 */
.margin_10{margin: 10px;}
.marginTop_10{margin-top: 10px;}
.marginTop_20{margin-top: 20px;}
.marginTop_30{margin-top: 30px;}
.marginTop_40{margin-top: 40px;}
.marginTop_50{margin-top: 50px;}
.marginRight_10{margin-right: 10px;}
.marginRight_20{margin-right: 20px;}
.marginRight_30{margin-right: 30px;}
.marginRight_40{margin-right: 40px;}
.marginRight_50{margin-right: 50px;}
.marginLeft_10{margin-left: 10px;}
.marginLeft_20{margin-left: 20px;}
.marginLeft_30{margin-left: 30px;}
.marginLeft_40{margin-left: 40px;}
.marginLeft_50{margin-left: 50px;}
.marginBottom_5{margin-bottom: 5px;}
.marginBottom_10{margin-bottom: 10px;}
.marginBottom_20{margin-bottom: 20px;}
.marginBottom_30{margin-bottom: 30px;}
.marginBottom_40{margin-bottom: 40px;}
.marginBottom_50{margin-bottom: 50px;}
.marginTop_100{margin-top: 100px;}
.marginRight_100{margin-right: 100px;}
.marginLeft_100{margin-left: 100px;}
.marginBottom_100{margin-bottom: 100px;}
/* float */
.floatLeft{float: left;}
.floatRight{float: right;}

.clear{clear: both;}
.horison{text-align: }
a{text-decoration: none;color: black;}
.hover_link:hover{color: red;}
.subPageForm form{padding: 10px;}
a:active{color: black;}
.back_white{background-color: white; border-bottom-color: black;}

/* 프린트 */
.webNone{display: none;}
@page  {size: auto;}
@media print{
	.printNone{display: none;}
	.webNone{display: block; text-align: center;margin-left: 30px;}
	.webNone table{border-collapse: collapse;}
	.marginLeft{margin-left: 70mm;}
	.approTable{width:120mm;}
	.print_table{width:190mm;font-family: "굴림체","GulimChe";table-layout: fixed;word-break: break-all;}
	.dataPre{text-align: left;vertical-align: top;}
	.dataPre pre{padding-left: 5px;table-layout: fixed;word-break: break-all;white-space: pre-wrap;}
	.marginTop_100{margin-top: 100px;}
	.hiddenBlock{height: 15px;visibility: hidden;}
}
.onepage{
	page-break-before: always;
	box-sizing: border-box;
	width: 21cm;
	min-height: 29.7cm;
	padding: 2cm;
	margin: 0 auto;
	background: #eee;
}
@page{
	size:A4;
	margin: 0;
}



