@charset "UTF-8";
body{
	margin: 0px;
	padding: 0px;
}
ul, li{list-style: none;margin: 0px; padding: 0px;}
#wrap{
	min-height:1000px;
	margin: 0px auto;
	padding: 5px;
}

/* login */
#center{
	position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
}
#center #login{
	display: inline-block;
    vertical-align: middle;
}
#center #blank{
	display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
}
#login{
	width: 500px;
	height: 300px;
	border: 1px solid;
}
#login img{
	margin-top: 10px;
	width: 70%;
}
#login form{
	margin: 50px 0px 0px 150px;
	padding: 10px;
}
#login form button{
	float: right;
	margin-right: 78px;
}
/* login */


/* header */
#header{height: 50px;}
#mainMenu{margin-left: 15%;}
.dropbtn {
  background-color: #ff8040;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  display: inline-block;
  width: 120px;
  text-align: center;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown .dropbtn:hover {background-color: #3e8e41;}
/* header */

/* sidebar */
#sidebar{
	float: left;
	width: 15%;
	border-right: 1px solid;
	min-height:1000px;
}
#logo{
	width:100%;
	text-align: center;
}
#logo img{
	width:70%;
}
#session{
	text-align: center;
	margin: 10px;
	height: 50px;
	text-align: center;
}
.dropMenu{
	background-color: #717171;
	color:white;
	width: 100%;
	vertical-align: middle;
}
.dropCheck{display: none;}
.clickDrop{
	font-weight: bold;
	margin-left: 10px;
	background-color: #717171;
	color: white;
}
.dropDiv{
	background-color:white;
	height: 0px;
	overflow: hidden;
	padding-left: 15px;
	padding-top: 10px;
}
.dropDiv a{
	display: block;
	margin-bottom: 5px;
}
.dropCheck:checked + .clickDrop + .dropDiv{
	height: 400px;
}
/* sidebar */

#content{
	width: 84%;
	float: left;
}
#title{
	margin-left: 100px;
	margin-top: 30px;
}

#row1{padding: 5px; float: left;}
#searchBox{
	margin-left: 100px;
	margin-bottom: 10px;
}

#weeklyWriteForm{
	float: left;
	margin-top: 10px;
	margin-left: 20px;
	border: 1px solid;
	width: 650px;
}
#weeklyWriteForm form{
	padding: 10px;
	margin-left: 10px;
}

#button button{
	height: 45px;
	margin-bottom: 5px;
}
#scheduleForm{
	float: left;
	margin-top: 10px;
	margin-left: 20px;
	border: 1px solid;
}
#scheduleForm form{padding: 10px;}
.buttonBox {text-align: center;}
.formRow{margin: 3px;}
/* label 라인 정렬 */
.lbWidth{width: 80px;display: inline-block;}
.verticalTop{vertical-align: top;}
.verticalCenter{vertical-align: center;}
.lbWord-break{word-break: keep-all;text-align: center;}
/* maring 10~50, 100 */
.margin_10{margin: 10px;}
.marginTop_10{margin-top: 10px;}
.marginTop_20{margin-top: 20px;}
.marginTop_30{margin-top: 30px;}
.marginTop_40{margin-top: 40px;}
.marginTop_50{margin-top: 50px;}
.marginRight_10{margin-right: 10px;}
.marginRight_20{margin-right: 20px;}
.marginRight_30{margin-right: 30px;}
.marginRight_40{margin-right: 40px;}
.marginRight_50{margin-right: 50px;}
.marginLeft_10{margin-left: 10px;}
.marginLeft_20{margin-left: 20px;}
.marginLeft_30{margin-left: 30px;}
.marginLeft_40{margin-left: 40px;}
.marginLeft_50{margin-left: 50px;}
.marginBottom_10{margin-bottom: 10px;}
.marginBottom_20{margin-bottom: 20px;}
.marginBottom_30{margin-bottom: 30px;}
.marginBottom_40{margin-bottom: 40px;}
.marginBottom_50{margin-bottom: 50px;}
.marginTop_100{margin-top: 100px;}
.marginRight_100{margin-right: 100px;}
.marginLeft_100{margin-left: 100px;}
.marginBottom_100{margin-bottom: 100px;}
/* float */
.floatLeft{float: left;}
.floatRight{float: right;}
.clear{clear: both;}
.horison{text-align: }
a{text-decoration: none;color: black;}
.hover_link:hover{color: red;}
.subPageForm form{padding: 10px;}
a:active{color: black;}
.back_white{background-color: white; border-bottom-color: black;}

.webNone{display: none;}
@media print{
	.printNone{display: none;}
	.webNone{display: block; text-align: center;}
	.webNone table{border-collapse: collapse;}
}
.onepage{
	page-break-before: always;
	box-sizing: border-box;
	width: 21cm;
	min-height: 29.7cm;
	padding: 2cm;
	margin: 0 auto;
	background: #eee;
}
@page{
	size:A4;
	margin: 0;
}



